# Dependências
node_modules/

# Ambiente / segredos
.env
.env.*

# Bancos locais / arquivos grandes
*.db
*.sqlite
*.sqlite3

# Logs / caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.cache/
.tmp/
dist/
build/

# SO / editor
.DS_Store
.vscode/
